{% extends "master.tmpl" %}

{% block title %}{{author}} | toss140.net{% endblock %}

{% block content %}
	<div id="articles">
		<h2>Articles by {{author}}</h2>
		{% for article in articles %}
			{% include 'articlebox.inc' %}
		{% endfor %}
	</div>
	{% include 'sidebar.inc' %}
{% endblock %}