{% extends "master.tmpl" %}

{% block title %}{{author}} | #toss140{% endblock %}

{% block content %}
	{% if logout_url %}
		<div class="logout"><a href="{{logout_url}}">log out</a></div>
	{% endif %}
	<div id="articles">
		<h2>Articles by {{author}}</h2>
		{% for article in articles %}
			{% include 'articlebox.inc' %}
		{% endfor %}
	</div>
{% endblock %}