{% extends "master.tmpl" %}

{% block title %}Articles on {{date|date:"D jS F Y"}} | toss140.net{% endblock %}

{% block content %}
	<div id="articles">
	{% if articles %}
		{% for article in articles %}
			{% include 'articlebox.inc' %}
		{% endfor %}
	{% else %}
	<p>
		{% if date_prev %}
			<a href="/date/{{date_prev}}{{q}}">←</a>
		{% endif %}
		No articles found for {{date|date:"D jS F Y"}}.
		{% if date_next %}
			<a href="/date/{{date_next}}{{q}}">→</a>
		{% endif %}
		</p>
	{% endif %}
	</div>
	{% include 'infobox.inc' %}
{% endblock %}