{% extends "master.tmpl" %}

{% block title %}Articles on {{date|date:"D jS F Y"}} | toss140.net{% endblock %}

{% block content %}
	<div id="articles">
	{% if articles %}
		{% for article in articles %}
			{% include 'articlebox.inc' %}
		{% endfor %}
	{% else %}
	<p>
		No articles found for {{date|date:"D jS F Y"}}.
		</p>
	{% endif %}
	</div>
	{% include 'sidebar.inc' %}
{% endblock %}