{% extends "master.tmpl" %}

{% block title %}Articles on {{date|date:"D jS F Y"}} | toss140.net{% endblock %}

{% block content %}
	<div id="articles">
	{% for article in articles %}
		{% include 'articlebox.inc' %}
	{% endfor %}
	</div>
{% endblock %}