{% extends "master.tmpl" %}

{% block title %}toss140 – one-line summaries of newspaper columns{% endblock %}

{% block content %}
	{% if logout_url %}
		<div class="logout"><a href="{{logout_url}}">log out</a></div>
	{% endif %}
	{% comment %}<div id="info">{% include "info.inc" %}</div>{% endcomment %}
	<div id="articles">
		<h2>Column timeline</h2>
		{% for article in articles %}
			{% include "articlebox.inc" %}
		{% endfor %}
	</div>
	<div id="tweets" class="mini">
		<h2>Recent summaries</h2>
		{% for tweet in tweets %}
			{% include "tweetbox.inc" %}
		{% endfor %}
	</div>
{% endblock %}