<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/toss.css" />
	<!--
	{%if debug%}
	<script type='text/javascript' src='js/lib/jquery-1.3.2.js'></script>
	{%else%}
	<script type='text/javascript' src='js/lib/jquery-1.3.2.min.js'></script>
	{%endif%}
	-->
	<script type='text/javascript'>
		var type = 0;
		var mastheads = ['toss_140', 'toss_140blue', 'toss140_gothic', 'toss140_gothic_dark', 'toss140_anm'];
		function flip_masthead() {
			document.getElementById("masthead").src = "/img/" + mastheads[type] + '.png';
			type = (type + 1) % mastheads.length;
			return false;
		}
	</script>
</head>
<body>
	<div id="content">
		<div id="header">
			<a href="/{{q}}"><img id="masthead" src="/img/toss140_gothic_dark.png" alt="toss140.net" /></a>
			<div class="strapline" onclick="flip_masthead();">one-line summaries of newspaper columnists, written by you</div>
		</div>
		<div id="tr">
			<a href="/about{{q}}">
			Twitter about any story,<br />
			link to it,
			use #toss140.
			<div class="ornament"></div>
			We will find your summary<br />
			and put it here.
			</a>
		</div>
		{% if admin %}
			<div id="menu">
				{% if refresh_url %}
					<div class="menu-item"><a href="{{refresh_url|escape}}">refresh</a></div>
				{% endif %}
				{% if logout_url %}
					<div class="menu-item"><a href="{{logout_url|escape}}">log out</a></div>
				{% endif %}
			</div>
		{% endif %}
		{% block content %}{% endblock %}
		<div class="attribution">
			conceived by @<a href="http://twitter.com/bengoldacre">bengoldacre</a>
			/
			<a href="mailto:contact@toss140.net">contact@toss140.net</a>
			/
			web site by @<a href="http://twitter.com/robinhouston">robinhouston</a>
		</div>
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9696195-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	</body>
</html>