{% extends "master.tmpl" %}

{% block title %}{{organ}} | toss140.net{% endblock %}

{% block content %}
	<div id="articles">
	<h2>From {{ organ }}</h2>
	{% for article in articles %}
		{% include 'articlebox.inc' %}
	{% endfor %}
	</div>
	{% include 'infobox.inc' %}
{% endblock %}