{% extends "master.tmpl" %}

{% block title %}Recent summaries | toss140.net{% endblock %}

{% block content %}
	<div id="tweets">
		<h2>Recent summaries</h2>
		{% for tweet in tweets %}
			{% include "tweetbox.inc" %}
		{% endfor %}
	</div>
	{% include 'infobox.inc' %}
{% endblock %}