{% extends "master.tmpl" %}

{% block title %}Recently posted | toss140.net{% endblock %}

{% block content %}
	<div id="tweets">
		<h2>Recently posted</h2>
		{% for tweet in tweets %}
			{% include "tweetbox.inc" %}
		{% endfor %}
	</div>
	{% include 'sidebar.inc' %}
{% endblock %}