{% extends "master.tmpl" %}

{% block title %}Top Summarisers | toss140.net{% endblock %}

{% block content %}
	<div id="top">
	<h2>Top summarisers</h2>
	{% for tweeter in tweeters %}
		<div><a href="/tweeter/{{ tweeter.name|urlenc_uni }}{{q}}">{{ tweeter.name }}</a> ({{ tweeter.num_tweets }} summaries)</div>
	{% endfor %}
	</div>
	{% include 'sidebar.inc' %}
{% endblock %}
