{% extends "master.tmpl" %}

{% block title %}{{author}} | #toss140{% endblock %}

{% block content %}
	{% if logout_url %}
		<div class="logout"><a href="{{logout_url}}">log out</a></div>
	{% endif %}
	<div id="tweets">
		<h2>Tweeted by {{tweeter}}</h2>
		{% for tweet in tweets %}
			{% include "tweetbox.inc" %}
		{% endfor %}
	</div>
{% endblock %}