{% extends "master.tmpl" %}

{% block title %}{{tweeter}} | toss140.net{% endblock %}

{% block content %}
	<div id="tweets">
		<h2>Tweeted by {{tweeter}}</h2>
		{% for tweet in tweets %}
			{% include "tweetbox.inc" %}
		{% endfor %}
	</div>
{% endblock %}