body {
	background: #333;
	font-family: 'Lucida Grande', sans-serif;
	font-size:13px;
	color: #333;
}

a:link, a:visited {
	text-decoration: none; color: #668;
}

a.admin {
	font-family: Futura;
	font-size: 16px;
	color: orange !important;
}

#content {
	background: #94E4E8;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 1.2em;
	position: relative;
}

h1 {
	font-family: 'Corbel', 'Gill Sans', sans-serif;
	color: #3cf;
	background: #fff;
	line-height: 150%;
	padding-left: 20px;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 1px dotted black;
}

.logout {
	position: absolute;
	top: 10px;
	right: 30px;
}

#info {
	position: absolute;
	width: 300px;
	right: 10px;
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #666;
	line-height: 1.1em;
	color: #333;
}
h2 {
	font-family: 'Corbel', 'Gill Sans', sans-serif;
	margin-top: 0;
	margin-left: 5px;
}
#info h2 {
	line-height: 1.1em;
}

.tweetbox {
	background: #EFF;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 8px;
	margin-left: 10px;
	border-bottom: 1px dotted #FAA;
/*	margin-right: 340px;
*/}

.meta {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #666;
}

.tweeter {
	float: right;
}

.date a {
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 1em;
	color: #900;
}
#articles, #tweets {
	float: left;
	background: #EFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 500px;
}
#tweets.mini {
	font-size: 11px;
	float: left;
	width: 340px;
	padding-left: 0;
	margin-right: 0;
}
.mini .tweetbox {
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
}
.mini h2 {
	text-align: center;
	margin-bottom: 3px;
}
.tweet {
	margin-left: 2em;
	margin-top: 3px;
}

.articlebox {
	margin-bottom: 10px;
}
.articlebox .tweeter {
	float: none;
	display: inline;
	font-size: 80%;
	color: #666;
	margin-left: 4px;
}
.articlebox .tweeter a:link, .articlebox .tweeter a:visited {
	color: #559;
}
.author {
	margin-left: 1em;
	margin-top: 3px;
	color: #666;
}

.attribution {
	clear: both;
	position: static;
	bottom: 10px;
	text-align: center;
	left: 10px;
	right: 10px;
	padding-left: 1em;
	margin-top: 15px;
	font-family: Hoefler Text, serif;
	line-height: 150%;
	color: #666;
}

.attribution a:link, .attribution a:visited {
	color: #559;
}