body {
	background: #333;
	font-family: 'Lucida Grande', sans-serif;
	font-size:13px;
	color: #333;
}

a:link, a:visited {
	text-decoration: none; color: #38D;
}
a:hover {
	text-decoration: underline;
}
a img {border: none; }

a.admin {
	font-family: Futura, sans-serif;
	font-size: 16px;
	color: orange !important;
}

#content {
	background: #94E4E8;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 1.2em;
	position: relative;
}

#header {
	background: #f6ffff;
	
	padding-left: 6em;
	padding-top: 1.5em;
	padding-bottom: 1em;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 1px dotted black;
}
.strapline {
	margin-top: 3px;
	margin-left: 4em;
	color: #900;
}
#tr {
	position: absolute;
	top: 2.1em;
	left: 580px;
	background: white;
	color: #600;
	line-height: 130%;
	padding: .8em .8em .8em .8em;
	border: 1px solid #ccc;
	-webkit-box-shadow: -1px 1px 6px #ccc;
	-moz-box-shadow: -1px 1px 6px #ccc;
}
#tr a:link, #tr a:visited {
	color: #600;
}
.ornament {
	display: block;
	clear: both;
	margin: 5px auto 8px auto;
	color: #003;
	text-align: center;
}

p, h3 {
	line-height: 130%;
}
h3 {
	color: #900;
}

#menu {
	position: absolute;
	top: 26pt;
	right: 1.2em;
}
.menu-item {
	font-family: 'Gill Sans', 'Corbel', sans-serif;
	color: red;
	font-size: 18pt;
	margin: 6px 6px 6px 0;
}
.menu-item a:link, .menu-item a:visited {
	color: red;
}

#what {
	position: absolute;
	font-family: 'Gill Sans', 'Corbel', sans-serif;
	top: 16px;
	right: 16em;
	padding: 1px 3px 1px 3px;
	color: white;
	background: #3cf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#info {
	display: none;
	position: absolute;
	width: 300px;
	right: 10px;
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #666;
	line-height: 1.1em;
	color: #333;
}
h2 {
	font-family: 'Gill Sans', 'Corbel', sans-serif;
	margin-top: 0;
	margin-left: 5px;
}
h2 a:visited, h2 a:link {
	color: inherit;
}
#info h2 {
	line-height: 1.1em;
}
#infobox h2 {
	color: #999;
}

.tweetbox {
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 8px;
	margin-left: 10px;
	border-bottom: 1px dotted #FAA;
}

.tweet-date {
	margin-top: 5px;
	margin-bottom: 3px;
	color: #666;
}

.meta {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #666;
}

.tweeter {
	float: right;
}
.tau {
	color: #999 !important;
}

.date a {
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 1em;
	color: #444;
}
#articles, #tweets, #about, #infobox, #top {
	float: left;
	display: inline; /* workaround for E6 rendering bug, ignored by proper browsers */
	background: #EFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0;
	width: 500px;
}
#articles, #top {
	margin-bottom: 10px;
	background: white;
}
#about h2 {
	color: #3cf;
	text-align: center;
}
#tweets.mini, #infobox.mini {
	font-size: 11px;
	float: right; clear: right;
	display: inline; /* workaround for E6 rendering bug, ignored by proper browsers */
	width: 340px;
	padding-left: 0;
	margin-right: 10px;
	/*background: #CFF; /*#A3FBFF;*/
}
#tweets.mini {
	margin-bottom: 10px;
}
#infobox {
	color: #666;
}
#infobox p {
	margin-left: 6px;
}
.mini .tweetbox {
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
}
.mini h2 {
	text-align: center;
	margin-bottom: 3px;
}
.tweet {
	margin-left: 2em;
	margin-top: 3px;
}
.tweet a:link, .tweet a:visited {
	color: #333; /* inherit here doesn't work in IE6 :-( */
}

.articlebox {
	margin-bottom: 10px;
}
.articlebox .tweeter {
	float: none;
	display: inline;
	font-size: 80%;
	color: #666;
	margin-left: 4px;
}
.tweeter a:link, .tweeter a:visited {
	color: #559;
}
.author {
	margin-left: 1em;
	margin-right: 0.5em;
	margin-top: 3px;
	margin-bottom: 6px;
	text-align: right;
	color: #666;
}

.datenav {
	color: #900;
}
#datenav-top {
	height: 2em;
}
#datenav-bottom {
	margin-top: 2em;
}
.date-older {
	float: left;
}
.date-newer {
	float: right;
}
.datenav a:link, .datenav a:visited {
	color: inherit;
}

.attribution {
	clear: both;
	position: static;
	text-align: center;
	line-height: 30px;
	background: #6AA;
	font-family: Hoefler Text, serif;
	border-top: 1px dotted #FAA;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	color: #333;
}

.attribution a:link, .attribution a:visited {
	color: #336;
}